@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url('fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-style: normal;
}

body {
    font-family: 'Montserrat';
    margin: 0 auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

a,
a:visited,
a:active,
a:hover,
a:link {
    text-decoration: none;
    color: black;
}

.header_div {
    font-size: 14px;
    margin: 0 auto;
    max-width: 500px;
    margin-top: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 110px;
}

.test-0-logo {
    max-width: 100%;
    max-height: 70px;
}

.nav_div {
    margin: 0 auto;
    width: 100%;
    margin-top: 10px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 40px;
}

.booking_div {
    margin-top: 10px;
    background: #fffee1;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.06);
    margin-bottom: 10px;
}

.profile_div {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.trust_div {
    background: #ffece1;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.06);
    margin-bottom: 10px;
}

.search_div {
    background: #e1eeff;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.06);
    margin-bottom: 10px;
}

.search_img {
    width: 12px;
    margin-right: 10px;
}

.section_search {
    margin-top: 10px;
    margin-bottom: 12px;
}


/* стили для направлений */

.test-0-fd,
.test-0-fa {
    font-family: 'Montserrat';
    background-color: #e1eeff;
    border: 0;
    width: 150px;
}


/* стили для дат */

.test-0-fdt,
.test-0-fat {
    font-family: 'Montserrat';
    background-color: #e1eeff;
    border: 0;
    width: 150px;
}


/* стили для кол-ва пассажиров */

.test-0-fnp {
    font-size: 10px;
    font-family: 'Montserrat';
    background-color: #e1eeff;
    border: 0;
    width: 150px;
}


/* стили для кнопки поиска */

.test-0-fbs {
    font-family: 'Montserrat';
    background-color: #e1eeff;
    border-color: #b4d5ff;
    width: 176px;
    margin-bottom: 10px;
}

.test-4-bsb {
    font-family: 'Montserrat';
    background-color: #ffe1e1;
    border-color: #ffb4b4;
    width: 176px;
    margin-bottom: 10px;
}

.test-5-add {
    margin: 0 auto;
    font-family: 'Montserrat';
    background-color: #e9ffe1;
    border-color: #79ffa1;
    width: 176px;
    margin-bottom: 10px;
}

.test-5-remove {
    width: 100%;
    height: 25px;
    margin-right: 10px;
    margin: 0 auto;
    border: 0;
    background: url(../img/ban.svg) no-repeat center;
}

.subscribe_div {
    background: #f3e1ff;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.06);
    margin-bottom: 10px;
}

.test-0-sie {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Montserrat';
    background-color: #f3e1ff;
    border: 0;
    width: 176px;
}

.test-0-sbs {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Montserrat';
    background-color: #f3e1ff;
    border-color: #ddabff;
    width: 176px;
}

.promotions_div {
    padding: 10px;
    display: flex;
    flex-direction: column;
    background: #ffe1f6;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.06);
    margin-bottom: 10px;
}

.promotion {
    margin-top: 10px;
    font-size: 12px;
}

.test-0-ai {
    width: 150px;
}


/* стили для навигации */

.test-0-nav-1,
.test-0-nav-2,
.test-0-nav-3,
.test-0-nav-4 {
    margin-right: 5px;
}

.footer_div {
    background: #ffffff;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.links {
    font-size: 12px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.link {
    margin-right: 10px;
}

.search_table {
    text-align: center;
    font-size: 12px;
    margin: 0 auto;
}

.search_table tbody tr:nth-child(2n) {
    background: white;
}

.test-4-fn,
.test-4-at,
.test-4-dd,
.test-4-dt,
.test-4-at,
.test-4-ft,
.test-4-fp,
.test-4-fh {
    width: 10%;
}

.test-5-fc,
.test-5-fcity,
.test-5-from,
.test-5-dd,
.test-5-dt,
.test-5-tcity,
.test-5-to,
.test-5-at,
.test-5-fp {
    width: 11%;
}

.test-5-name,
.test-5-last,
.test-5-dob,
.test-5-doc {
    width: 25%;
}

.test-5-price {
    font-size: 20px;
}

.test-5-book {
    font-family: 'Montserrat';
    background-color: #e9ffe1;
    border-color: #79ffa1;
    width: 176px;
    margin-bottom: 10px;
}

.booking_total {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.test-6-code,
.test-6-tp {
    margin-left: 20px;
    text-align: left;
}

.test-6-fc,
.test-6-ac,
.test-6-fcity,
.test-6-from,
.test-6-dd,
.test-6-dt,
.test-6-tcity,
.test-6-to,
.test-6-at,
.test-6-ft,
.test-6-fh {
    width: 70%;
    text-align: left;
}

.test-6-select {
    margin: 0 auto;
    font-family: 'Montserrat';
    background-color: #e9ffe1;
    border-color: #79ffa1;
    width: 176px;
    margin-bottom: 10px;
}

.test-2-btn {
    margin: 0 auto;
    font-family: 'Montserrat';
    background-color: #e9ffe1;
    border-color: #79ffa1;
    width: 176px;
    margin-bottom: 10px;
}

.alpha {
    width: 30px;
}

.seat {
    background-color: #5895ff;
    height: 20px;
}

.fs_rows,
.tfo_rows {
    margin-bottom: 20px;
}

.select_seat {
    margin: 0 auto;
    font-family: 'Montserrat';
    background-color: #e9ffe1;
    border-color: #79ffa1;
    width: 176px;
    margin-bottom: 10px;
}

.input_label {
    text-align: left;
}

.register_table {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 70%;
}

.test-1-fpn,
.test-1-fps,
.test-2-name,
.test-2-last,
.test-2-doc,
.test-2-phone,
.test-2-pass,
.test-2-pass2,
.test-2-btn {
    font-family: 'Montserrat';
    width: 150px;
}

.test-1-fbs {
    margin: 0 auto;
    font-family: 'Montserrat';
    background-color: #e9ffe1;
    border-color: #79ffa1;
    width: 176px;
    margin-bottom: 10px;
}

.test-3-name,
.test-3-last {
    margin-right: 3px;
    margin-left: 2px;
    font-size: 18px;
}

.test-3-num {
    margin-top: -10px;
    font-size: 18px;
}

.test-3-code,
.test-3-d1,
.test-3-t1,
.test-3-t2,
.test-3-from,
.test-3-to {
    width: 16%;
}

.test-3-logout {
    margin: 0 auto;
    font-family: 'Montserrat';
    background-color: #ffe1e1;
    border-color: #ffb4b4;
    width: 176px;
    margin-bottom: 10px;
}